@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    skyblue 0%,
    skyblue 50%,
    blue 50%,
    blue 100%
  );
}

.container {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0 #000;
  font-size: 2rem;
}

.nav-list {
  width: 100%;
  height: 4rem;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-family: Roboto;
}

.rotate {
  transform: rotate(720deg);
  visibility: hidden;
  transition-property: transform visibility;
  transition-duration: 2s;
}

.shrink {
  width: 4rem;
  transition-property: width;
  transition-duration: 2s;
}
