@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bottle-with: 2.5rem;
  --bottle-height: 5rem;
  --bottle-border-radius: 0.75rem;
  --water-background: #2785dc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
  font-size: 10px;
}

body {
  background-color: var(--water-background);
}

.container {
  width: 30%;
  min-width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading,
.sub-heading {
  color: #fff;
  text-align: center;
}

.main-heading {
  margin-bottom: 2rem;
}

.sub-heading {
  margin-top: 2rem;
}

.sub-heading h2 {
  font-size: 1rem;
  font-weight: 400;
}

.bottles {
  width: var(--bottle-with);
  height: var(--bottle-height);
  border: 2px solid blue;
  border-radius: 0 0 var(--bottle-border-radius) var(--bottle-border-radius);
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.fullLittleBottle {
  background-color: #58a7f2;
  color: #fff;
}

.big-bottle {
  width: calc(var(--bottle-with) * 3.5);
  height: calc(var(--bottle-height) * 3.5);
  border-radius: 0 0 calc(var(--bottle-border-radius) * 3.5)
    calc(var(--bottle-border-radius) * 3.5);
  font-size: 1.5rem;
}

.little-bottles-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.little-bottles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
