@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto";
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3774a7;
}

.main-form {
  width: 40rem;
  padding: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  background-color: #214564;
  flex-direction: column;
  justify-items: center;
}

.main-heading,
.input-field {
  border: none;
  padding: 1rem;
  margin-bottom: 5rem;
}

.main-heading {
  padding: none;
  text-align: center;
  font-size: 3rem;
}

.input-wrapper {
  display: inline-block;
  position: relative;
}

.input-field,
.input-label {
  width: 100%;
  height: 4rem;
}

.input-field {
  border-bottom: 0.2rem solid #fff;
  background-color: transparent;
}

.input-field:focus {
  border: none;
  border-bottom: 0.2rem solid #fff;
  outline: none;
}

.letter {
  display: inline-block;
  transform: translateY(-8rem);
  font-size: 2rem;
}

.translate {
  transform: translateY(-11rem);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.initial {
  transform: translateY(-8rem);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.button-submit {
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  background-color: #a0cee0;
  font-size: 1.5rem;
}

.link {
  font-size: 1.5rem;
}

.link__register {
  margin-left: 0.5rem;
  font-size: inherit;
  text-decoration: none;
  color: #a0cee0;
}
